module {{ .Repo }}

go 1.24.0

toolchain go1.24.5

tool sigs.k8s.io/controller-tools/cmd/controller-gen

tool github.com/crossplane/crossplane-tools/cmd/angryjet

require (
	github.com/alecthomas/kingpin/v2 v2.4.0
	github.com/crossplane/crossplane-runtime/v2 v2.0.0
	github.com/google/go-cmp v0.7.0
	github.com/pkg/errors v0.9.1
	google.golang.org/grpc v1.74.2
	k8s.io/apimachinery v0.33.3
	k8s.io/client-go v0.33.3
	sigs.k8s.io/controller-runtime v0.21.0
)
